<div *ngIf="auth.isAuthenticated(); else loggedInBlock">
    <p>Logged in!</p>
    <p (click)="auth.clearToken()">Log out</p>
    <br />
    <div *ngIf="auth.currentUser" >
        User: 
        <ul>
            <li>
                name: {{auth.currentUser.name}}
            </li>
            <li>
                icon: <img src="{{auth.currentUser.icon_img}}" />
            </li>
        </ul>
    </div>
</div>
<ng-template #loggedInBlock>
    <p>
        Comment Delete is a web tool where you can quickly and easily delete your reddit comments.  
        You can delete your reddit comments by subreddit or by karma score.
    </p>
    <p>
        Login to reddit to get started.
        Your comments and subreddits will appear automatically after logging in.
    </p>
    <p>
        When you login it is done directly on reddit.com.
        After that, you approve this site for temporary (1 hour) permission to read and delete your comments.
        Reddit will forward you back to this site with a token that the site can use to delete your comments.
        You can also revoke the token through reddit <a href="https://www.reddit.com/prefs/apps/">here</a> if you change your mind.
    </p>
    <p><button (click)="login()">Login</button></p>
    <br/>
    <br/>
    <app-delete></app-delete>
</ng-template>

