<div class="delete-container">
    <div class="delete-options">
        <input type="number" #count/>
        <button (click)="delete(count.value)">Delete</button>
        <br />
        <div class="delete-option">
            <label for="lessThan">Less than: </label>
            <input name="lessThan" type="number" [(value)]='comment.scoreLimit'/>
        </div>
        <br />
    </div>
    <div class="subreddit-container">
       <div *ngFor='let subreddit of subreddits'>
           <button class="subreddit" (click)='comment.toggleSelection(subreddit)' [class.unselectedSubreddit]='unselectedSubreddits.has(subreddit)' >
               {{subreddit}}
           </button>
       </div>
    </div>
    <div class="comment-container">
        <div class="comments-section">
            <div class="count">
                Queued: {{comments.length}} <br />
                Skipped: {{comment.skippedCount}}
            </div>
            <div class="comments">
                <div *ngFor='let comment of comments' >
                    <app-comment [comment] = "comment"></app-comment>
                </div>
            </div>
        </div>
        <div class="comments-section">
            <div class="count">
                Deleted: {{deletedComments.length}}
            </div>
            <div class="comments">
                <div *ngFor='let comment of deletedComments' >
                    <app-comment [comment] = "comment"></app-comment>
                </div>
            </div>
        </div>
    </div>
</div>
