<div class="delete-container">
    <div class="delete-options">
        <input type="number" #count/>
        <button (click)="delete(count.value)">Delete</button>
    </div>
    <div class="subreddit-container">
       <div *ngFor='let subreddit of subreddits'>
           <button class="subreddit" >
               {{subreddit}}
           </button>
       </div>
    </div>
    <div class="comment-container">
        <div class="comments-section">
            <div class="count">
                Queued: {{comments.length}}
            </div>
            <div class="comments">
                <div *ngFor='let comment of comments' >
                    <app-comment [comment] = "comment"></app-comment>
                </div>
            </div>
        </div>
        <div class="comments-section">
            <div class="count">
                Deleted: {{deletedComments.length}}
            </div>
            <div class="comments">
                <div *ngFor='let comment of deletedComments' >
                    <app-comment [comment] = "comment"></app-comment>
                </div>
            </div>
        </div>
    </div>
</div>
