.delete-container{
    padding: 5px 30px;
}

.delete-options {
    text-align: center;
}

.delete-option {
    margin: .25em;
}

.delete-option input[type=checkbox] {
    width: 30px;
}

.delete-option input {
    width: 130px;
}

 .delete-option label {
    display: inline-block;
    width: 100px;
    text-align: right;
}



.comment-container {
    display: flex;
}

.comments-section {
    flex: 1;
    
}

.comment {
    background-color: #8D99AE;
    padding: .5em;
    margin: .5em;
}

.deletedComment {
    background-color: #D90429;
}

.count {
    padding: 1em;
    margin: 2px;
}

.comments {
    overflow-y: auto;
    max-height: 80vh;
}

.subreddit-container {
    display: flex;
    justify-content: center;
    margin: .25em;
    flex-wrap: wrap;
}

.subreddit {
    flex: 1;
    padding: 1em;
    border-radius: .5em;
    margin: .25em;
    background-color: mistyrose;
    box-shadow: 0 .25em #999;
    font-family: Helvetica, sans-serif;
}

.subreddit:hover {
}

.subreddit:active {
    background-color: #e0ece0;
    box-shadow: 0 .1em #666;
    transform: translateY(.1em); 
}

.unselectedSubreddit {
    background-color: #fbfbfd;
}

.control-button {
    background-color: #fbfbfd;
    font-size: xx-large;
    max-width: 25em;
    padding: .2em;
}

.start-delete {
    background-color: #0071E3;
    color: #ffffff;
}

.stop-delete {
    background-color: #0071E3;
    color: #ffffff;
}



  @media only screen and (max-width: 600px) {
    .delete-container {
      padding: 0;
    }
  }
