<div class="delete-container">
    <div class="delete-options">
        <div class="delete-option">
            <input type="checkbox" [(ngModel)]='comment.useLimit' />
            <label for="lessThan">Less than: </label>
            <input #lessThan name="lessThan"  type="number" [(ngModel)]='comment.scoreLimit' />
        </div>
        <div class="delete-option">
            <input type="checkbox" [(ngModel)]='comment.useEarlierThan' />
            <label for="earlierThan">Earlier than: </label>
            <input name="earlierThan"  type="date" [ngModel]="comment.earlierThan | date:'yyyy-MM-dd'" (ngModelChange)="comment.earlierThan = toDate($event)" />
        </div>
        <div class="delete-option">
            <input type="checkbox" [(ngModel)]='comment.useLaterThan' />
            <label for="useLaterThan">Later than: </label>
            <input name="useLaterThan"  type="date" [ngModel]="comment.laterThan | date:'yyyy-MM-dd'" (ngModelChange)="comment.laterThan = toDate($event)" />
        </div>
        
        
    </div>
    <div class="subreddit-container">
       <div *ngFor='let subreddit of subreddits'>
           <button class="subreddit" (click)='comment.toggleSelection(subreddit)' [class.unselectedSubreddit]='unselectedSubreddits.has(subreddit)' >
               {{subreddit}}
           </button>
       </div>
    </div>
    <div class="subreddit-container">
           <button class="subreddit control-button" (click)='comment.toggleDeletion(true)' [class.start-delete]='comment.isDeleting'>
               Delete
           </button>
           <button class="subreddit control-button" (click)='comment.toggleDeletion(false)' [class.stop-delete]='!comment.isDeleting'>
               Stop
           </button>
    </div>
    <div class="comment-container">
        <div class="comments-section">
            <div class="count">
                Queued: {{comments.length}} <br />
                Skipped: {{comment.skippedCount}}
            </div>
            <div class="comments">
                <div *ngFor='let comment of comments' >
                    <app-comment [comment] = "comment"></app-comment>
                </div>
            </div>
        </div>
        <div class="comments-section">
            <div class="count">
                Deleted: {{deletedComments.length}}
            </div>
            <div class="comments">
                <div *ngFor='let comment of deletedComments' >
                    <app-comment [comment] = "comment"></app-comment>
                </div>
            </div>
        </div>
    </div>
</div>
