.delete-container{
    padding: 30px;
}

.comment-container {
    display: flex;
}

.comments-section {
    flex: 1;
    
}

.comment {
    background-color: azure;
    padding: .5em;
    margin: .5em;
}

.count {
    padding: 1em;
    margin: 2px;
}

.comments {
    overflow-y: auto;
    max-height: 80vh;
}

.subreddit-container {
    display: flex;
    justify-content: center;
    margin: 2em;
    flex-wrap: wrap;
}

.subreddit {
    flex: 1;
    padding: 1em;
    border-radius: .5em;
    margin: .25em;
    background-color: greenyellow;
    box-shadow: 0 .25em #999;
}

.subreddit:hover {
    opacity: 70%;
}

.subreddit:active {
    background-color: #e0ece0;
    box-shadow: 0 .1em #666;
    transform: translateY(.1em); 
  }
